.bg-red-h1 {
    background-color: rgb(190, 38, 38);
    color: white;
    text-align: center;
    border-radius: 6%;
}

.bg-blue-h1 {
    background-color: rgb(16, 75, 202);
    color: white;
    text-align: center;
    border-radius: 6%;
}

.first {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin: 10px 0;
}

#first {
    font-size: 20px;
    line-height: 1.6;
    color: #333;
    margin: 10px 0;
}s

.second {
    font-size: 30px;
    line-height: 1.5;
    color: #0f3ae3;
    margin: 10px 0;
}

.fixed-width {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin: 10px 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

ol {
    list-style-type: decimal;
    padding-left: 20px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}